* { margin: 0; padding: 0; }
body { background: url(../img/fondo.png)no-repeat top center; font-family: verdana,calibri, sans-serif }
#contenedor { width: 960px; margin:0 auto; /*border: 1px solid;*/ }

#cabecera { position: relative; padding-top: 20px;}
#logo { width: 23%; float: left; color: #111; font-size: 34px; background: url(../img/logo.png)no-repeat left center; padding-left: 4%; text-shadow: 1px 1px 0 dodgerblue; }
#menu { width: 73%; float: right; text-align: right; padding-top: 15px; }
#menu ul { list-style-type: none;}
#menu ul li { display: inline-block;}
#menu ul li a { color: black; text-decoration: none; padding: 5px 20px; font-size: 14px; text-shadow: 1px 1px 0 dodgerblue; }
#menu ul li a:hover, #menu ul li a#activo:hover { border-bottom: 2px solid blue; }
#menu ul li a#activo { border-bottom: 1px solid blue; }
#mensaje { clear: both; height: 340px; position: relative; text-align: center; color: #111; background: url(../img/pcmensaje.png)no-repeat center 90px;}
#mensaje h2 { position: relative; font-size: 32px; text-transform: uppercase; font-weight: normal; top: 160px; text-shadow: 1px 1px 0 dodgerblue; }
#mensaje p { position: relative; font-size: 18px; top: 170px; letter-spacing: 4px; text-shadow: 1px 1px 0 darkgrey;}
#mensaje a { position: relative; color: #111; text-decoration: none; top: 210px; border: 2px solid #111; padding: 10px 30px; font-size: 14px;}
#principal, #footer { padding: 20px 0; }
#principal img { width: 50%; float: right; margin-left: 20px; }
#principal h1 { color: #111; padding-left: 30px;margin-bottom:15px; text-shadow: 1px 1px 0 dodgerblue;}
#principal p { font-size: 19px; color: #111; letter-spacing: 1px; line-height: 2; text-align: justify; font-weight: 400; }
#principal hr { border:none; border-top: 2px solid #111;}
#principal iframe { width: 100%; height: 250px;  margin-top: 30px; }
#footer { background: #CCC; text-align: center; position: relative;}
#footer img { position: absolute; right: 5px; top: 50%; margin-top: -8px; }
#redes { position: fixed; right:0;  top: 420px; width: 37px; padding: 10px; }
#redes img { margin: 5px; }
#html { position:fixed; left:0; top: 42px;width: 37px; }
#css { position:fixed; left:0; top: 82px;width: 37px; }